<div class="container">

<h2>Sign up</h2>

  <div class="alert">
    <% @user_registration.user.errors.full_messages.each do |msg| %>
      <p class="alert alert-danger"><%= msg %></p>
    <% end %>
  </div>

  <%= form_for(@user_registration, as: resource_name, url: registration_path(@user_registration.user)) do |f| %>
    

    <div class="form-group">
        <%= f.label :email %>

        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>      


    <div class="form-group">
        <%= f.label :password %>

        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>        
    
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    
    </div>

    <div class="form-group">
          <%= f.label :password_confirmation %>
      
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
    </div>

    <div class="form-group">
        <%= f.check_box :consent_cookie %>
        <%= f.label :consent_cookie %>
    </div>

    <div class="form-group">
        <%= f.check_box :consent_age %>
        <%= f.label :consent_age %>
    </div>

    <div class="form-group">
        <%= f.check_box :consent_privacy_terms %>
        <%= f.label :consent_privacy_terms %>
    </div>

    <div class="form-group">
        <%= f.submit "Sign up", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>