<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
          <% if !!current_user %>
            <% unless current_user.favorite_organizations.include?(@organization) %>
              <li role="presentation">
                <%= link_to "Add to favorites", organization_favorites_path(@organization), method: :post %>
              </li>
            <% else %>
              <li role="presentation">
                <%= link_to "Remove from favorites", organization_favorite_path(@organization, @favorite), method: :delete %>
              </li>
            <% end %>

            <% unless current_user.claimed_organizations.include?(@organization) %>
              <li role="presentation">
                <%= link_to "Claim", organization_claims_path(@organization), class: "btn danger", method: :post %>
              </li>
            <% else %>
              <li role="presentation">
                <%= link_to "Withdraw claim", organization_claim_path(@organization, @claim), class: "btn danger", method: :delete %>
              </li>
            <% end %>            
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= @organization.title %> <span class="text-muted">in <%= @organization.area.name %> -> <%= @organization.category.name %></span></h4>
      </div>

      <div class="panel-body">
        <%= @organization.mission %>

        <hr>

        <% if @organization.submitter %>
          <p>
            <small>
              Submitted by <%= @organization.submitter.email %>
            </small>
          </p>
        <% end %>
        
        <p><small>Viewed X times</small></p>
      </div>
    </div>    
  </div>
</div>