<% if current_user %>

  <% if show_cookie_form?(current_user) %>
    <hr>
    <div class="panel panel-default">
      <h4>Cookie policy</h4>
      <p>
        <%= @cookie %>
      </p>

      <form action="/policies/user_terms/cookie/accept" accept-charset="UTF-8" method="post"><input name"=utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="put"><input type="hidden" name="authenticity_token" value="<%=  %>">
              <input type="submit" name="commit" value="Accept" class="btn btn-success" data-disable-with="Accept">
              <a class="btn btn-secondary" href="/policies/user_terms/pending">No not now</a>
      </form>
    </div>
  <% end %>

  <% if show_age_form?(current_user) %>
    <hr>
    <div class="panel panel-default">
      <h4>Age policy</h4>
      <p>      
        <%= @age %>
      </p>

      <form action="/policies/user_terms/age/accept" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="put"><input type="hidden" name="authenticity_token" value="<%= %>">
              <input type="submit" name="commit" value="Accept" class="btn btn-success" data-disable-with="Accept">
              <a class="btn btn-secondary" href="/policies/user_terms/pending">No not now</a>
      </form>      
    </div>
  <% end %>

  <% if show_privacy_form?(current_user) %>
    <hr>
    <div class="panel panel-default">
      <h4>Privacy policy</h4>
      <p>      
        <%= @privacy_terms %>
      </p>

      <form action="/policies/user_terms/privacy_terms/accept" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="put"><input type="hidden" name="authenticity_token" value="<%= %>">
              <input type="submit" name="commit" value="Accept" class="btn btn-success" data-disable-with="Accept">
              <a class="btn btn-secondary" href="/policies/user_terms/pending">No not now</a>
      </form>      
    </div>
  <% end %>
<% end %>