<% if current_user %>

  <% unless current_user.has_consented_cookie? %>
    <div>
      <%= @cookie %>

      <form action="/policies/user_terms/cookie/accept" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="put"><input type="hidden" name="authenticity_token" value="<%=  %>">
              <input type="submit" name="commit" value="Accept" class="btn btn-success" data-disable-with="Accept">
              <a class="btn btn-secondary" href="/policies/user_terms/pending">No not now</a>
      </form>
    </div>
  <% end %>

  <% unless current_user.has_consented_age? %>
    <div>
      <%= @age %>

      <form action="/policies/user_terms/age/accept" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="put"><input type="hidden" name="authenticity_token" value="<%= %>">
              <input type="submit" name="commit" value="Accept" class="btn btn-success" data-disable-with="Accept">
              <a class="btn btn-secondary" href="/policies/user_terms/pending">No not now</a>
      </form>      
    </div>
  <% end %>

  <% unless current_user.has_consented_privacy_terms? %>
    <div>
      <%= @privacy_terms %>

      <form action="/policies/user_terms/privacy_terms/accept" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="put"><input type="hidden" name="authenticity_token" value="<%= %>">
              <input type="submit" name="commit" value="Accept" class="btn btn-success" data-disable-with="Accept">
              <a class="btn btn-secondary" href="/policies/user_terms/pending">No not now</a>
      </form>      
    </div>
  <% end %>
<% end %>