<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/partials/head' %>
  </head>

  <body>
    <div id="app">
      <%= render 'layouts/partials/nav' %>

      <div class="container">
        <%= render 'layouts/partials/flash' %>

        <%= yield %>

        <%= render 'layouts/partials/consent_forms' %>
      </div>

    </div>

    <%= render 'layouts/partials/scripts' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
