<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/partials/head' %>
  </head>

  <body>
    <%= render 'layouts/partials/nav' %>

    <div id="app" class="container">
      <%= render 'layouts/partials/flash' %>

      <%= yield %>

      <%= render 'layouts/partials/consent_forms' %>
    </div>

    <%= render 'layouts/partials/scripts' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
