<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/partials/head' %>
  </head>

  <body>
    <%= render 'layouts/partials/nav' %>

    <div id="app" class="container">
      <%= render 'layouts/partials/flash' %>

      <%= yield %>

      <%= render 'layouts/partials/consent_forms' %>
    </div>

    <%= render 'layouts/partials/scripts' %>

<!--     <vue-cookie-accept-decline
        :debug="false"
        :position="'bottom'"
        :disableDecline="false"
        :transitionName="'slideFromBottom'"
        :acceptText="'Got It!'"
        :declineText="'Opt Out'"
        @status="cookieStatus"
        @clickedAccept="cookieClickedAccept"
        @clickedDecline="cookieClickedDecline">
        <div slot="message">
            We use cookies to ensure you get the best experience on our website.
            <a href="https://cookiesandyou.com/" target="_blank">Learn More...</a>
        </div>
    </vue-cookie-accept-decline>   --> 
  </body>
</html>
